@model WebBcciCons.Models.series1

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>series1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MatchID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatchID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatchDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatchDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Venue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Venue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeriesID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeriesID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeriesName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeriesName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeriesStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeriesStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeriesEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeriesEndDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>



